*.prj
*.ini
*.exe
isim
*.log
*.cmd_log
*.cmd
*.cmp
*.wdb
*.html
*.stx
*.xst
*.lso
*.syr
*.xrpt
*.xml
*.ngc
*.ngr
xst
*.xmsgs
*.ngd
*.bld
*.xrpt
_ngo
*xdb
*.map
*.mrp
*.ncd
*.pcf
*.ngm
*.pad
*.par
*.unroutes
*.xpi
*.txt
*.csv
*.ptwx
*.twr
*.twx
*.gise
*.xise
*.xreport
*.projectmgr
*.xise
*.debug
*.xwbt
*.tcl
*.xsl
*.drc
*.bgn
*.bit
*.ut