
NET "reset_btn" LOC = C4;


NET "reset_btn" IOSTANDARD = LVCMOS33;


NET "enable[3]" LOC = P17;


NET "enable[3]" IOSTANDARD = LVCMOS33;
NET "enable[2]" IOSTANDARD = LVCMOS33;
NET "enable[1]" IOSTANDARD = LVCMOS33;
NET "enable[0]" IOSTANDARD = LVCMOS33;




NET "seven_segment[6]" IOSTANDARD = LVCMOS33;
NET "seven_segment[5]" IOSTANDARD = LVCMOS33;
NET "seven_segment[4]" IOSTANDARD = LVCMOS33;
NET "seven_segment[3]" IOSTANDARD = LVCMOS33;
NET "seven_segment[2]" IOSTANDARD = LVCMOS33;
NET "seven_segment[1]" IOSTANDARD = LVCMOS33;
NET "seven_segment[0]" IOSTANDARD = LVCMOS33;




NET "leds[3]" IOSTANDARD = LVCMOS33;
NET "leds[2]" IOSTANDARD = LVCMOS33;
NET "leds[1]" IOSTANDARD = LVCMOS33;
NET "leds[0]" IOSTANDARD = LVCMOS33;


NET "enable[2]" LOC = P18;
NET "enable[1]" LOC = N15;
NET "enable[0]" LOC = N16;
NET "leds[3]" LOC = V15;
NET "leds[2]" LOC = U15;
NET "leds[1]" LOC = V16;
NET "leds[0]" LOC = U16;
NET "seven_segment[6]" LOC = T17;
NET "seven_segment[5]" LOC = T18;
NET "seven_segment[4]" LOC = U17;
NET "seven_segment[3]" LOC = U18;
NET "seven_segment[2]" LOC = M14;
NET "seven_segment[1]" LOC = N14;
NET "seven_segment[0]" LOC = L14;


NET "blue[7]" IOSTANDARD = LVCMOS33;
NET "blue[6]" IOSTANDARD = LVCMOS33;
NET "blue[5]" IOSTANDARD = LVCMOS33;
NET "blue[4]" IOSTANDARD = LVCMOS33;
NET "blue[3]" IOSTANDARD = LVCMOS33;
NET "blue[2]" IOSTANDARD = LVCMOS33;
NET "blue[1]" IOSTANDARD = LVCMOS33;
NET "blue[0]" IOSTANDARD = LVCMOS33;
NET "green[7]" IOSTANDARD = LVCMOS33;
NET "green[6]" IOSTANDARD = LVCMOS33;
NET "green[5]" IOSTANDARD = LVCMOS33;
NET "green[4]" IOSTANDARD = LVCMOS33;
NET "green[3]" IOSTANDARD = LVCMOS33;
NET "green[2]" IOSTANDARD = LVCMOS33;
NET "green[1]" IOSTANDARD = LVCMOS33;
NET "green[0]" IOSTANDARD = LVCMOS33;
NET "red[7]" IOSTANDARD = LVCMOS33;
NET "red[6]" IOSTANDARD = LVCMOS33;
NET "red[5]" IOSTANDARD = LVCMOS33;
NET "red[4]" IOSTANDARD = LVCMOS33;
NET "red[3]" IOSTANDARD = LVCMOS33;
NET "red[2]" IOSTANDARD = LVCMOS33;
NET "red[1]" IOSTANDARD = LVCMOS33;
NET "red[0]" IOSTANDARD = LVCMOS33;


NET "red[7]" LOC = A12;
NET "red[6]" LOC = B12;
NET "red[5]" LOC = A13;
NET "red[4]" LOC = C13;
NET "red[3]" LOC = A14;
NET "red[2]" LOC = B14;
NET "red[1]" LOC = F13;
NET "red[0]" LOC = E13;
NET "green[7]" LOC = C8;
NET "green[6]" LOC = D8;
NET "green[5]" LOC = B9;
NET "green[4]" LOC = A9;
NET "green[3]" LOC = F9;
NET "green[2]" LOC = A11;
NET "green[1]" LOC = G9;
NET "green[0]" LOC = B11;
NET "blue[7]" LOC = A4;
NET "blue[6]" LOC = A5;
NET "blue[5]" LOC = B4;
NET "blue[4]" LOC = C5;
NET "blue[3]" LOC = A6;
NET "blue[2]" LOC = B6;
NET "blue[1]" LOC = A7;
NET "blue[0]" LOC = C7;


NET "in_clk" IOSTANDARD = LVCMOS33;
NET "led_en" IOSTANDARD = LVCMOS33;
NET "tft_clk" IOSTANDARD = LVCMOS33;
NET "tft_de" IOSTANDARD = LVCMOS33;
NET "tft_display" IOSTANDARD = LVCMOS33;
NET "tft_en" IOSTANDARD = LVCMOS33;


NET "in_clk" LOC = V10;
NET "led_en" LOC = C14;
NET "tft_clk" LOC = C10;
NET "tft_de" LOC = A15;
NET "tft_display" LOC = C15;
NET "tft_en" LOC = D14;

# PlanAhead Generated IO constraints 

NET "TP_DCLK" IOSTANDARD = LVCMOS33;
NET "TP_CS" IOSTANDARD = LVCMOS33;
NET "TP_BUSY" IOSTANDARD = LVCMOS33;
NET "TP_DIN" IOSTANDARD = LVCMOS33;
NET "TP_DOUT" IOSTANDARD = LVCMOS33;
NET "TP_PENIRQ" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "TP_BUSY" LOC = B2;
NET "TP_CS" LOC = B3;
NET "TP_DCLK" LOC = D11;
NET "TP_DIN" LOC = D6;
NET "TP_DOUT" LOC = C6;
NET "TP_PENIRQ" LOC = A3;
