
NET "reset_btn" LOC = C4;


NET "reset_btn" IOSTANDARD = LVCMOS33;


NET "enable[3]" LOC = P17;


NET "enable[3]" IOSTANDARD = LVCMOS33;
NET "enable[2]" IOSTANDARD = LVCMOS33;
NET "enable[1]" IOSTANDARD = LVCMOS33;
NET "enable[0]" IOSTANDARD = LVCMOS33;




NET "seven_segment[6]" IOSTANDARD = LVCMOS33;
NET "seven_segment[5]" IOSTANDARD = LVCMOS33;
NET "seven_segment[4]" IOSTANDARD = LVCMOS33;
NET "seven_segment[3]" IOSTANDARD = LVCMOS33;
NET "seven_segment[2]" IOSTANDARD = LVCMOS33;
NET "seven_segment[1]" IOSTANDARD = LVCMOS33;
NET "seven_segment[0]" IOSTANDARD = LVCMOS33;




NET "leds[3]" IOSTANDARD = LVCMOS33;
NET "leds[2]" IOSTANDARD = LVCMOS33;
NET "leds[1]" IOSTANDARD = LVCMOS33;
NET "leds[0]" IOSTANDARD = LVCMOS33;


NET "enable[2]" LOC = P18;
NET "enable[1]" LOC = N15;
NET "enable[0]" LOC = N16;
NET "leds[3]" LOC = V15;
NET "leds[2]" LOC = U15;
NET "leds[1]" LOC = V16;
NET "leds[0]" LOC = U16;
NET "seven_segment[6]" LOC = T17;
NET "seven_segment[5]" LOC = T18;
NET "seven_segment[4]" LOC = U17;
NET "seven_segment[3]" LOC = U18;
NET "seven_segment[2]" LOC = M14;
NET "seven_segment[1]" LOC = N14;
NET "seven_segment[0]" LOC = L14;

# PlanAhead Generated IO constraints 

NET "tft_b[7]" IOSTANDARD = LVCMOS33;
NET "tft_b[6]" IOSTANDARD = LVCMOS33;
NET "tft_b[5]" IOSTANDARD = LVCMOS33;
NET "tft_b[4]" IOSTANDARD = LVCMOS33;
NET "tft_b[3]" IOSTANDARD = LVCMOS33;
NET "tft_b[2]" IOSTANDARD = LVCMOS33;
NET "tft_b[1]" IOSTANDARD = LVCMOS33;
NET "tft_b[0]" IOSTANDARD = LVCMOS33;
NET "tft_g[7]" IOSTANDARD = LVCMOS33;
NET "tft_g[6]" IOSTANDARD = LVCMOS33;
NET "tft_g[5]" IOSTANDARD = LVCMOS33;
NET "tft_g[4]" IOSTANDARD = LVCMOS33;
NET "tft_g[3]" IOSTANDARD = LVCMOS33;
NET "tft_g[2]" IOSTANDARD = LVCMOS33;
NET "tft_g[1]" IOSTANDARD = LVCMOS33;
NET "tft_g[0]" IOSTANDARD = LVCMOS33;
NET "tft_r[7]" IOSTANDARD = LVCMOS33;
NET "tft_r[6]" IOSTANDARD = LVCMOS33;
NET "tft_r[5]" IOSTANDARD = LVCMOS33;
NET "tft_r[4]" IOSTANDARD = LVCMOS33;
NET "tft_r[3]" IOSTANDARD = LVCMOS33;
NET "tft_r[2]" IOSTANDARD = LVCMOS33;
NET "tft_r[1]" IOSTANDARD = LVCMOS33;
NET "tft_r[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "tft_r[7]" LOC = A12;
NET "tft_r[6]" LOC = B12;
NET "tft_r[5]" LOC = A13;
NET "tft_r[4]" LOC = C13;
NET "tft_r[3]" LOC = A14;
NET "tft_r[2]" LOC = B14;
NET "tft_r[1]" LOC = F13;
NET "tft_r[0]" LOC = E13;
NET "tft_g[7]" LOC = C8;
NET "tft_g[6]" LOC = D8;
NET "tft_g[5]" LOC = B9;
NET "tft_g[4]" LOC = A9;
NET "tft_g[3]" LOC = F9;
NET "tft_g[2]" LOC = A11;
NET "tft_g[1]" LOC = G9;
NET "tft_g[0]" LOC = B11;
NET "tft_b[7]" LOC = A4;
NET "tft_b[6]" LOC = A5;
NET "tft_b[5]" LOC = B4;
NET "tft_b[4]" LOC = C5;
NET "tft_b[3]" LOC = A6;
NET "tft_b[2]" LOC = B6;
NET "tft_b[1]" LOC = A7;
NET "tft_b[0]" LOC = C7;

# PlanAhead Generated IO constraints 

NET "in_clk" IOSTANDARD = LVCMOS33;
NET "led_en" IOSTANDARD = LVCMOS33;
NET "tft_clk" IOSTANDARD = LVCMOS33;
NET "tft_de" IOSTANDARD = LVCMOS33;
NET "tft_display" IOSTANDARD = LVCMOS33;
NET "tft_en" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "in_clk" LOC = V10;
NET "led_en" LOC = C14;
NET "tft_clk" LOC = C10;
NET "tft_de" LOC = A15;
NET "tft_display" LOC = C15;
NET "tft_en" LOC = D14;
